<h1>Editing Student</h1>
<br/>
<%= render 'form', student: @student %>
<br/>
<br/>
<%= link_to 'Show', @student, class:"btn btn-secondary" %> 
<%= link_to 'Back', students_path, class:"btn btn-dark" %>
