<br/>
<br/>
<br/>
<br/>
<hr>
<h1 style="text-align:center; color:red;font-size:480%;" >宇智波一族の幻术</h1>
<br/>
<br/>
<p style="text-align:center; color:blue;font-size:240%;">お前はここに手傷を負いに来たわけじゃないだろう！</p>



<img src="https://news.sun-asterisk.com/images/750/55a0c2b7-7a8b-434c-8786-2daefb41e81a.jpg" alt="">