<br/>
<br/>
<hr>
<h1 style="text-align:center; color:red;font-size:240%;" >Student Information Management</h1>
<br/>

<%# <p style="text-align:center; color:blue;font-size:240%;">お前はここに手傷を負いに来たわけじゃないだろう！</p> %>



<img src="https://icdn.dantri.com.vn/thumb_w/640/2020/08/20/9-x-bkdocx-1597857495732.jpeg" alt=""width="1400" height="800">